.App {
    margin: 0 auto;
    max-width: 969px;
    padding: 10px 15px;
}

footer p{
    opacity: .6;
    text-align: center;
    margin: 4rem auto 1rem auto;
    width: 30rem;
}

@media screen and (max-width: 425px) {
    footer p {
        margin: 4rem 0 1rem 0;
        display: flex;
        justify-content: center;
        width: 130%;
    }
}